@if(!!projects && projects.length > 0){
    <app-section-wrapper>
        <p id="projectsSmallTitle">MY WORK</p>

        <h2 id="projectsTitle">Projects.</h2>

        <p id="projectsText" class="md:w-3/4 lg:w-2/3 xl:w-1/2">
            The projects below showcase my skills and experience. 
            Each one includes a brief description and a link to my GitHub repository, 
            where you can explore live demos. These projects demonstrate my expertise in solving problems, 
            utilizing various technologies, and managing projects efficiently.
        </p>

        <div id="projectsContainer" class="flex flex-row justify-center">
            <div class="flex flex-col w-full sm:w-10/12 md:w-9/12 lg:w-8/12 lx:w-7/12 2xl:w-6/12 mt-11 space-y-6">
                <cdk-virtual-scroll-viewport itemSize="50" class="w-full h-screen rounded-md">
                    <div class="mb-7 last:mb-0" *cdkVirtualFor="let project of projects">
                        <app-project-card [project]="project"></app-project-card>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </app-section-wrapper>
}
