<div class="flex flex-col space-y-20 md:space-y-36">
  @if(!!workHistory && workHistory.length > 0) {
    <app-experience id="workExperience" [smallTitle]="'WHAT I HAVE DONE SO FAR'" [title]="'Experience.'" [history]="workHistory"></app-experience>
    <app-employment-reference></app-employment-reference>
  }
  <app-experience id="academicHistory" [smallTitle]="'WHAT I HAVE STUDIED SO FAR'" [title]="'Academic History.'" [history]="academicHistory"></app-experience>
  <app-skills></app-skills>
  <app-project></app-project>
</div>
