<app-section-wrapper>
  <img id="backgroundImage" class="absolute top-24 -z-20 opacity-50 hidden xl:block" src="{{ backgroundImage.srcImage }}" alt="{{ backgroundImage.alt }}"/>

  <h1 id="homeTitle">Hi, I'm <span class="text-red-500">Manu</span></h1>

  <p id="homeDescription" class="text-white sm:text-lg md:text-2xl"><span id="animatedText" #animatedTextRef></span><span id="cursor" class="text-red-500">|</span></p>
  
  <div class="flex-col items-center">
    <!-- <app-workstation class="w-screen sm:w-full"></app-workstation> -->
  </div>
</app-section-wrapper>
