<div id="toastContainer" class="relative max-w-fit rounded-lg ring-1 ring-white/5 bg-gradient-to-b opacity-85"
    [ngClass]="{
            'from-emerald-600 to-emerald-700': toastData.type === toastType.SUCCESS,
            'from-red-800 to-red-900': toastData.type === toastType.ERROR
        }">
    <div class="px-2 flex flex-row justify-around text-white">
        <div class="fa-stack fa-1x self-center ml-2">
            @if (toastData.type === toastType.SUCCESS) {
                <i id="faCircle" class="fa-solid fa-circle fa-stack-1x text-green-500 text-3xl"></i>
                <i id="faCheck" class="fa-solid fa-check fa-stack-1x text-xl"></i>
            } @else {
                <i id="faCircle" class="fa-solid fa-circle fa-stack-1x text-red-500 text-3xl"></i>
                <i id="faX" class="fa-solid fa-x fa-stack-1x text-xl"></i>
            }
        </div>

        <div class="m-6 space-y-1">
            <div id="title" class="font-bold text-lg">{{ toastData.type }}</div>
            <div id="message">{{ toastData.message }}</div>
        </div>

        <div id="closeToastIcon" (click)="onCloseButtonClick()" class="fa-stack fa-1x mt-3">
            <i id="faSquare" class="fa-solid fa-square fa-stack-1x text-2xl text-white"></i>
            <i id="faSquareXmark" class="fa-solid fa-square-xmark fa-stack-1x text-red-500 text-2xl hover:scale-110 transition duration-150 ease-in-out"></i>
        </div>
    </div>
    <div id="progressBar" class="progress-bar absolute bg-green-500 h-1 w-full"></div>
    <div id="progressBarBackground" class="absolute -z-10 bg-white h-1 w-full"></div>
</div>
