<app-card-primary-wrapper>
    <div class="flex flex-col px-10 py-6">
        <h3>{{ history.title }}</h3>

        <p>{{ history.institution }}</p>

        @for (project of history.projects; track project) {
            <app-experience-card-project-section class="mt-6" [project]="project"></app-experience-card-project-section>
        } 
        @if (!!history.task) {
            <app-experience-card-task-section class="mt-6" [task]="history.task"></app-experience-card-task-section>
        }
    </div>
</app-card-primary-wrapper>
